.bg-image {
    background-image: url(../img/bg-1.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}
.bg-image1 {
    background-image: url(../img/bg-3.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

.bg-image2 {
    background-image: url(../img/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}
.bg-image3 {
    background-image: url(../img/gfgfggfggg-min.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}
.bg-shadow {
    background-color: rgba(0, 0, 0, .4);
}